<!-- Fragmento: Modal para agregar grifo -->
<div th:fragment="modalNuevoGrifo(Grifo)">
  <div class="modal fade" id="modalNuevoGrifo" tabindex="-1" aria-labelledby="tituloModalGrifo" aria-hidden="true">
    <div class="modal-dialog">
      <form th:action="@{/Catalogo/AgregadoGrifo}" th:object="${Grifo}" method="post" class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title fw-bold" id="tituloModalGrifo">
            <i class="bi bi-plus-circle me-2"></i> Nuevo Grifo
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body bg-light">
          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label fw-bold">
              Nombre del grifo <span style="color: red;">*</span>
            </label>
            <input type="text"
                   class="form-control form-control-sm"
                   id="nombre"
                   name="nombre"
                   th:field="*{nombre}"
                   placeholder="Ej. Grifo Repsol"
                   >
          </div>
        </div>

        <div class="modal-footer bg-light">
          <button type="submit" class="btn btn-success fw-bold">
            <i class="bi bi-save me-1"></i> Guardar
          </button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            <i class="bi bi-x-circle me-1"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
